@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #272622;
    text-decoration: none;
    font-weight: 700;
}

.sidebar-container{
    display: none;
}
.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #3091b8;
}

.navbar a.active{
    color: #3091b8;
}

.home{
    height: 100vh;
    background: linear-gradient(-90deg, #272622 65%, #fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
._img{
    width: 450px;
    height: 450px;
    padding: auto 10% 20%;
    border-radius: 500px;
}
.home-image{
    width: 500px;
    height: 500px;
    display: flex;
    padding: auto;
    background: #272622;
    border-radius: 50%;
    border: 25px solid #fff;

}
.home-content{
    max-width: 600px;
    color: #fff;
    text-align: right;
}
.home-content h3{
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#3091b8 ,#3091b8);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: -410px 0;
    animation: animaText 6s linear infinite;
}
@keyframes animaText{
    0%,95%,100%{
        background-position: -410px 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}
.name-container{
    display: flex;
    float: right;
    flex-direction: row;
    text-wrap: nowrap;
    font-size: 25px;
    line-height: 1.2;
}

.welcome{
    padding-right: 10px;
}

.arrow-sidebar{
    display: none;
}

.home-content p{
    font-size: 16px;
    margin-top: 20px;
}
.home-sci{
    margin: 25px 0 40px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #3091b8;
    text-decoration: none;
    transition: .5s;
}
.home-sci a:hover{
    background: #3091b8;
    color: #fff;
    border-color: #3091b8;
    box-shadow: 0 0 10px #3091b8;
}
.btn{
    padding: 12px 35px;
    background: #3091b8;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #3091b8;
    transition: .3s;
}
.btn:hover{
    box-shadow: none;
}

@media only screen and (max-width: 900px){
    .home{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        background: #272622;
        height: 100%;
    }

    .logo{
        display: none;
    }

    .navbar{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0.3);
        height: 40vw;
        width: 150px;
    }

    .header{
        position: fixed;
        left: -32%;
        width: 300px;
        transition: ease all .5s;
    }

    .name-container{
        float: unset;
        flex-direction: column;
    }

    .arrow-sidebar{
        position: absolute;
        display:block;
        top: 10%;
        right: 0%;
        color: #fff;
        font-size: 30px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        padding: 0 10px 0 10px;
    }

    .navbar a{
        margin: 10px 5px 10px 5px;  
    }

    .header:hover {
        position: fixed;
        left: -10%;
    }

    .sidebar-container{
        position: relative;
        display: flex;
        color: #fff;
        font-size: 24px;
        
    }

    .sidebar-container label{
        position: fixed;
    }

    .logo{
        position: relative;
        color: #fff;
        top: -50px;
        right: -30px;


    }
    
    .home-content{
        padding-top: 20px;
        text-align: center;
        width: 120%;
        margin-bottom: 50px;
    }

    footer{
        margin: 10px 0 10px 0;
    }
    
    footer p{
        font-size: 12px;
        text-align: center;
    }
}